<h1>Sign Up Form</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="Username" name="username">
    <input type="email" placeholder="Email" name="email">
    <input type="text" placeholder="Store Name" name="storename">
    <input type="text" placeholder="Address (E.g. 48 Taman Warna, Singapore 276378)" name="address">
    <input type="password" placeholder="Password" name="password">
    <button>Submit</button>
</form>

<a href="/register">Sign Up</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>